# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/
ENV/
env/
.venv/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE files
.vscode/
.idea/

# Logs
*.log

# Configuration files
*.cfg
*.ini
*.env

# Ignore your passwords filI
passwords.txt

# Add any other files or directories you want to ignore
# In my case:
client_secret_*.json